
.calendar-grid {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2em repeat(5, 1fr);
  height: 100%;
}

.calendar-header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 8px;
}

.calendar-cell {
  padding: 0 10px;
  /* border-bottom: 2px dotted #00000010;
  border-right: 2px dotted #00000010; */
  /* min-height: 0px; */
  height: 100%;
}


.today {
  background-color: #cce5ff;
  /* color: white; */
  border-radius: 12px;
  /* margin: 4px; */
}

.scrollable {
  /* height: 55%; */
  overflow-y: auto;
  /* border: 1px solid #ddd; */
}
