
.calendar-grid {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2em repeat(5, 1fr);
  height: 100%;
}


.calendar-header {
  text-align: center;
  font-weight: bold;
  background-color: #101020;
  padding: 8px;
}

.calendar-header:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.calendar-header:nth-child(7) {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.calendar-cell {
  padding: 0 10px;
  /* border-bottom: 2px dotted #00000010;
  border-right: 2px dotted #00000010; */
  /* min-height: 0px; */
  height: 100%;
}


.today {
  background-color: #4A6582;
  /* color: white; */
  border-radius: 12px;
  /* margin: 4px; */
}

.scrollable {
  /* height: 55%; */
  overflow-y: auto;
  /* border: 1px solid #ddd; */
}
